@{
    Layout = "_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Universum Quiz</h1>
    <p class="lead">Welcome to the Universum Quiz for the Universum Technology Department.</p>
    <p><a class="btn btn-lg btn-success" href="/quiz" role="button">Take the quiz</a></p>
</div>